<!DOCTYPE html>
{% load static %}
<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<title>Innova Tech| Contact :: Innova Tech</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Soft Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />

	<link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="http://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
</head>

<body>

<input type="hidden" id="base_url" value="https://alzahraservices.com/">
<!-- header -->
	<div class="header" id="home">
		<div class="content white agile-info">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
						<a class="navbar-brand" href="index.html">
							<img style="width: 130px;" src="{% static 'assets/images/logo2.png' %}">
						</a>
					</div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							<ul class="nav navbar-nav">
								<li class="active"><a href="{% url 'index' %}" class="effect-3">Home</a></li>

								<li><a href="{% url 'about' %}" class="effect-3">About Us</a></li>
								<li><a href="{% url 'products' %}" class="effect-3">Our Products</a></li>
								<li><a href="{% url 'contact' %}" class="effect-3">Contact Us</a></li>
							</ul>
						</nav>
					</div>
					<!--/.navbar-collapse-->
					<!--/.navbar-->
				</div>
			</nav>
		</div>
	</div><!-- banner -->
	<div class="inner_page_agile">
		<h3>Contact Us</h3>
	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="index.html">Home</a><span>|</span></li>
				<li>Contact</li>
			</ul>
		</div>
	</div>
	<!--//w3_short-->
	<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle">Contact Us</h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="col-md-4 agile_info_mail_img_info">
					<div class="address-grid">
						<h4>Contact <span>Info</span></h4>
						<div class="mail-agileits-w3layouts">
							<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
							<div class="contact-right">
								<p>Telephone </p><span>+91-9131708806</span>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="mail-agileits-w3layouts">
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
							<div class="contact-right">
								<p>Mail </p><a href="mailto:contact@alzahraservices.com">contact@alzahraservices.com</a>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="mail-agileits-w3layouts">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<div class="contact-right">
								<p>Location</p><span>408, 4th floor, Apollo Premier,<br /> behind Shagun Garden, Vijay Nagar Square <br />indore madhya pradesh 452010</span>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="agileits_w3layouts_nav_right contact">
							<div class="social two">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14717.65542067648!2d75.8966811!3d22.7500177!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5bef82fe270e4409!2sApollo%20premier!5e0!3m2!1sen!2sin!4v1592316953533!5m2!1sen!2sin" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
				<div class="clearfix"> </div>

			</div>

		</div>
	</div>
	<!-- //mid-services -->
	<!-- /map -->
	<!-- footer -->
	<div class="footer_top_agileits">
		<div class="container">
			<div class="col-md-4 footer_grid">
				<h3></h3>
				<a href="index.html">
							<img style="width: 200px;" src="{% static 'assets/images/logo1.png' %}">
						</a>
			</div>
			<div class="col-md-4 footer_grid">
				<h3>Follow Us</h3>
					<div class="social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
			</div>
			<div class="col-md-4 footer_grid">
				<h3>Contact Info</h3>
				<ul class="address">
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>
						408, 4th floor, Apollo Premier,<br />
behind Shagun Garden, Vijay Nagar Square<br />
indore madhya pradesh 452010</li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:contact@alzahraservise.com">contact@alzahraservices.com</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>+91-9131708806</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			
		</div>
	</div>
	<div class="footer_w3ls">
		<div class="container">
			<div class="footer_bottom">
				<div class="col-md-6 footer_bottom_grid">
					<div class="footer_bottom1">
						
						<p>© 2015 Al Zahra Services. All rights reserved</p>
					</div>
				</div>

				<div class="col-md-6 footer_bottom_grid">
					<div class="footer_bottom1">
						
						<p> 
							<a href="{% static 'files/TermsConditions.pdf' %}">Terms & Conditions</a> | <a href="{% static 'files/PrivacyPolicy.pdf' %}">Privacy Policy</a> | <a href="{% static 'files/Disclaimer.pdf' %}">Disclaimer</a>
						</p>
					</div>
				</div>
				
				<div class="clearfix"> </div>
			</div>

		</div>
	</div>
	<!-- //footer -->
	<style type="text/css">
	  .Sharethis{
	    position: fixed;
	    top:50%;
	    right: 0px;
	    background: green;
	    width: 50px;
	    height: 50px;
	    text-align: center;
	    border-radius: 10px 0px 0px 10px;
	  }

	  .Sharethis>a>i{
	    color: #FFF;
	    font-size: 40px;
	    line-height: 50px;
	  }
	</style> 
	<!-- Sharethis -->
	<div class="Sharethis">
	    <a href="https://wa.me/918982650208"><i class="fa fa-whatsapp"></i></a>
	</div>
	<!-- Sharethis -->
	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- js -->
	<script type="text/javascript" src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/bootstrap.js' %}"></script>
</body>


</html>


